@*Views 文件夹存储的是与应用程序显示（用户界面）相关的文件（HTML 文件）。
根据所采用的语言内容，这些文件可能扩展名可能是 html、asp、aspx、cshtml 和 vbhtml。
Views 文件夹中包含每个控制器对应的一个文件夹。*@

@{  
    //程序入口
    ViewData["Title"] = "图书信息管理系统";
}

<div class="text-center">
    <h1 class="display-4">by CN</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
