@{
}
<div class="table-responsive">
<table class="table table-condensed">
	<thead>
		<tr>
			<th class="text-black">#</th>
			<th class="text-black">Firstname</th>
			<th class="text-black">Firstname</th>
			<th class="text-black">Firstname</th>
			<th class="text-black">Firstname</th>
			<th class="text-black">Firstname</th>
			<th class="text-black">Firstname</th>
		</tr>

	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Anna</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Debbie</td>
		</tr>
		<tr>
			<td>3</td>
			<td>John</td>
		</tr>
	</tbody>
</table>
</div>